h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 50px;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-profile {
  width: 100%;
  min-height: 100vh;
  background-color: gray;
  text-align: center;
  position: relative;
  padding: 100px;
}

